.container{
    width: 50%;
    height: 200px;
    margin: 150px;
    margin-left: 300px;
    background-color: lavenderblush;
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.sub-container1{
   padding: 50px; 
}
.sub-container2{
   padding: 15px; 
}
.operators{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.validation-button{
    color: red;
    width: 100%
}
input{
    outline: none;
    border-radius: 4px;
    text-align: center;
}
textarea{
    outline: none;
    text-align: center;
}
h4{
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}